/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-wrap: wrap;
}
.desc{
	flex:1;
	text-align: center;
/* 	flex-shrink:1; */
}
img{
	flex-basis:250px;
	width: 250px;
	height: 120px;
	object-fit: cover;
	flex:1.5;
/* 	flex-shrink:10; */
}